.DS_Store
.DS_Store?
~$*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.swp
*.log
node_modules
.sass-cache
Barebones
yarn.lock
/packages
/public
/build
/resources
# Local Netlify folder
.netlify
