// ==============================
// Custom style
// 自定义样式
// ==============================

.green {
  color: #029453;
}

.hidden-data {
  display: none;
}

.header-title {
  font-family: "Roboto Mono";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
}

html {
  font-family: "Fira Sans";
}

.last-update-footer {
  display: block;
  text-align: center;
  padding: 1em;
  font-size: 0.85em;
  font-weight: 200;
}
