.header-title {
    font-family: Source Code Pro,Menlo,Consolas,Monaco,monospace,system-ui,-apple-system,BlinkMacSystemFont,PingFang SC,Microsoft YaHei UI,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.green {
    color: #06a401;
}

/* Light mode */
[theme=light] .lion {
    background-image: url(/lion-light.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 5rem;
    width: 3rem;
    display: inline-flex;
    margin-top: 1rem;
}

[theme=light] kbd {
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .6em;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: #242729;
    text-shadow: 0 1px 0 #fff;
    background-color: #e1e3e5;
    border: 1px solid #adb3b8;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(12,13,14,0.2),0 0 0 2px #fff inset;
    white-space: nowrap;
}

/* Dark mode */
[theme=dark] .lion {
    background-image: url(/lion-dark.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 5rem;
    width: 3rem;
    display: inline-flex;
    margin-top: 1rem;
}

[theme=dark] kbd {
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .6em;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: #242729;
    text-shadow: 0 1px 0 #fff;
    background-color: #e1e3e5;
    border: 1px solid #adb3b8;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(12,13,14,0.2),0 0 0 2px #fff inset;
    white-space: nowrap;
}