.post-header {
    text-align: center;
}
.chroma {
    background-color: #222;
}
pre code {
    background: #222;
}
pre {
    background: #222;
}
code {
    background: #222;
}
.content a {
    box-shadow: none;
    text-decoration: underline;
}
#TableOfContents a {
    box-shadow: none;
}
.content a:hover, #TableOfContents a:hover {
    box-shadow: none;
    text-decoration: none;
}
.featured-header {
    line-height: normal;
    padding: 6vw;
    font-size: x-large;
    margin-top: 7vw;
}
.featured-header .post-meta {
    font-size: initial;
    letter-spacing: normal;
    opacity: .6;
}
.bg-img {
    width: 100vw;
    height: 30vw;
    z-index: -1;
    position: inherit;
    top: 0;
    opacity: 1;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    transition: opacity .5s;
}
.bi, .bi-terminal-fill {
    margin: 0 auto;
}
kbd {
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .6em;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: #242729;
    text-shadow: 0 1px 0 #fff;
    background-color: #e1e3e5;
    border: 1px solid #adb3b8;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(12,13,14,0.2),0 0 0 2px #fff inset;
    white-space: nowrap;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    html {
        background-color: #ebebeb;
    }
    body {
        color: #000;
    }
    a {
        color: #000;
    }
    a:hover {
        color: #222;
    }
    button {
        color: #000;
    }
    button:hover {
        color: #222;
    }
    #site-header {
        background-color: #c6c7ccee;
    }
    #mobile-menu {
        background-color: #c6c7cc;
    }
    .lion {
        background-image: url(/lion-light.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 8rem;
        width: 14rem;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    html {
        background-color: #000;
    }
    body {
        color: #e8eef2;
    }
    a {
        color: #e8eef2;
    }
    button {
        color: #e8eef2;
    }
    #site-header {
        background-color: #232324ee;
    }
    #mobile-menu {
        background-color: #232324;
    }
    .lion {
        background-image: url(/lion-dark.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 8rem;
        width: 14rem;
    }
}